body{
    background-image: url(../img/pexels-pixabay-531880.jpg);
    object-fit: cover;
}
main{
    height: 100vh;
    width: 100vw;
}
.main-container{
    margin: auto;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
}
